<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautify</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>
<body>
    <div class="nav-bar">
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{%static 'images/logo.png'%}" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="ms-2 search">
                    <form class="d-flex gap-4">
                      <div class=""><i class="fa-solid fa-location-dot" style="color: #F7B5CD;"></i>
                        <input class="ms-2 form" type="location" placeholder="Location" > 
                      </div>
                        <span class="text-light">|</span> 
                        <div class="">
                          <i class="fa-solid fa-magnifying-glass" style="color: rgb(234, 234, 234);"></i>
                          <input class="ms-2 me-4 form" type="search" placeholder="Search for shop">
                        </div>
                    </form>
                </div>          
              </div>
              <a href="{%url 'signout'%}">Logout</a>
            </div>
          </nav>
    </div>

    {%block body_block%}
    {%endblock%}

    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <section class="p-1">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <img src="{%static 'images/logo.png'%}" alt="" style="width: 180px;">
                </h6>
                <p>
                    Beautify is a comprehensive salon, spa, and beauty parlor booking application 
                    designed to effortlessly schedule appointments, discover top-rated services, 
                    and indulge in pampering experiences, all in one convenient platform
                </p>
              </div>
      
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class=" fw-bold mb-4">
                  SERVICES
                </h6>
                <p>
                  <a href="" class="text-reset">Salon</a>
                </p>
                <p>
                  <a href="" class="text-reset">Spa</a>
                </p>
                <p>
                  <a href="" class="text-reset">Beauty parlor</a>
                </p>
                <p>
                  <a href="" class="text-reset">Partner with us</a>
                </p>
              </div>
      
      
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class=" fw-bold mb-4">CONTACT</h6>
                <p><i class="fas fa-home me-3"></i>Beautify Pvt.LTD</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  fayaspnisthar@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> +91 8113968122</p>
              </div>
            </div>
          </div>
        </section>
      </footer>
      <!-- Footer -->
</body>
</html>