.navbar{
    background-color: #231f20;
}
.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
}
.navbar-brand img{
    height: 40px;
}
.form{
    border: none;
    width: 250px;
    background-color: #231f20;
    outline: 0;
}
.search{
    padding: 1%;
    border-radius: 8px;
    border: 1px solid;
    border-color: white;
    box-shadow: 0px 0px 7px rgba(221, 221, 221, 0.6);
}
.service{
    height: 340px;
    background-color: #e1d5db;
    padding-left: 10%;
    padding-right: 10%;
}
.title{
    padding-top:25px ;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif ;
}
